<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<main class="row">
    <section class="col-lg-2">
        <figure>
            <img id="img1" src="../../../assets/burger.jpeg" alt="Burger"><br>
            <button class="button-10" role="button" (click)="selectItem('Burger')">Add Item</button>
        </figure>
    </section>
    <section class="col-lg-2">
        <figure>
            <img  id="img2" src="../../../assets/pasta.jpeg" alt="Pasta"><br>
            <button class="button-10" role="button" (click)="selectItem('Pasta')">Add Item</button>
        </figure>
    </section>
    <section class="col-lg-2">
        <figure>
            <img  id="img3" src="../../../assets/steak.jpeg" alt="Steak"><br>
            <button class="button-10" role="button" (click)="selectItem('Steak')">Add Item</button>
        </figure>
    </section>
    <section class="col-lg-2">
        <figure>
            <img  id="img4" src="../../../assets/chicken.jpeg" alt="Chicken"><br>
            <button class="button-10" role="button" (click)="selectItem('Chicken')">Add Item</button>
        </figure>
    </section>
    <section class="col-lg-2">
        <figure>
            <img  id="img5" src="../../../assets/salad.jpeg" alt="Salad"><br>
            <button class="button-10" role="button" (click)="selectItem('Salad')">Add Item</button>
        </figure>
    </section>
    
</main>

<!-- <button class="checkout" (click)="showCart()">Check Out</button> -->