<h2>View Catering Items</h2>
<h4>Add Items to your cart</h4>

<div class="list row">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of items; let i = index" [class.active]="i == currentIndex"
                (click)="setActiveItem(item, i, item.title, item.quantity)">
                <img class="item-img" mat-card-image [src]="imagesData[i]">
                {{ item.title }}
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <div *ngIf="currentItem">
            <app-orders (refreshList1)="refreshList()" [item]="currentItem"></app-orders>
        </div>
    </div>
</div>

<button mat-raised-button id="btn" routerLink="../modify" routerLinkActive="active">Check out!</button>