.buttons {
    margin: 10px;
}
#img1{
    width: 84%;
    height: auto;
}
#img2{
    width: 62%;
    height: auto;
}
#img3{
    width: 90%;
    height: auto;
}
#img4{
    width: 80%;
    height: auto;
}
#img5{
    width: 66%;
    height: auto;
}