<h2>View Catering Items</h2>
<h4>Select an item to modify its details.</h4>

<div class="list row">
  <div class="col-md-6">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let item of items; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveItem(item, i)"
      >
      <img class="item-img" mat-card-image [src]="imagesData[i]">
      {{ item.title }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentItem">
      <app-catering-details
        (refreshList)="refreshList()"
        [item]="currentItem"
      ></app-catering-details>
    </div>
  </div>
</div>
