<h2>View Amenities</h2>
<h4>Select an amenity to modify its contents.</h4>

<div class="list row">
  <div class="col-md-6">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let amenity of amenities; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveAmenity(amenity, i)"
      >
      <img class="example-header-image" mat-card-image [src]="imagesData[i]" style="max-width:50px">
      {{ amenity.title }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentAmenity">
      <app-amenities-details
        (refreshList)="refreshList()"
        [amenity]="currentAmenity"
      ></app-amenities-details>
    </div>
  </div>
</div>
